<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <label for="name"> Pirate Name</label>
  <input type="text" id="name" name="pirate[name]">
  <label for="weight"> Pirate Weight</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for="height"> Pirate Height</label>
  <input type="text" id="height" name="pirate[height]">
  <label for="name"> Ship Name</label>
  <input type="text" id="name" name="pirate[ships][][name]">
  <label for="type"> Ship Type</label>
  <input type="text" id="type" name="pirates[ships][][type]">
  <label for="booty"> Ship Booty</label>
  <input type="text" id="booty" name="pirates[ships][][booty]">
  <input type="submit" value="submit">
</form>

