<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Pirates & Ships</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <form action='/pirates' method="post">
      <p><label for="pirate[name]">Pirate Name:</label>
      <input type="text" name="pirate[name]"></p>

      <p><label for="pirate[weight]">Pirate Weight:</label>
      <input type="text" name="pirate[weight]"></p>

      <p><label for="pirate[height]">Pirate Height:</label>
      <input type="text" name="pirate[height]"></p>

      <p><label for="ship_name_1">Ship Name:</label>
      <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>

      <p><label for="ship_type_1">Ship Type:</label>
      <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>

      <p><label for="ship_booty_1">Ship Booty:</label>
      <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>

      <p><label for="ship_name_2">Ship Name:</label>
      <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>

      <p><label for="ship_type_2">Ship Type:</label>
      <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>

      <p><label for="ship_booty_2">Ship Booty:</label>
      <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>

      <input type="submit" value="Submit">
    </form>

  </body>
</html>